.show_imgs{
    width: 100%;
}

.tags{
    color: rgb(29, 155, 240);
    line-height: 2.5;
}

.item_table th{
    background-color:  #F0F0E8;
    width: 38%;
}

.user{
    margin-bottom: 20vh;
}

.requ_form{
    text-align: center;
}

.requ_button{
    height: 2.5rem;
    width: 40vw;
    margin: 0.5rem 5vw;
    font-size: 3vw;
    padding: 0.375rem 0px;
}

.requ_button.btn-primary a{
    color: white;
}

.requ_button.btn-outline-primary a{
    color: rgb(85, 172, 238);
}