.show_imgs{
    width: 100%;
}


.tags{
    color: rgb(29, 155, 240);
}

th{
    font-weight: normal;
    background-color:  #F0F0E8;
    width: 38%;
}

form{
    text-align: center;
}

.requ_button{
    height: 30px;
    margin: 5px; 
    width: 80%;
}