/*body全体*/

body{
    font-family: "メイリオ" ;
    font-size: 12px;
    background-color: white;
    max-width: 100vw;
}

body p {
    margin-bottom: 0.2rem;
}

/**/

h1{ 
    font-size: 1.5em;
    margin: 0;
    height: 8vh;
}

.container{
    padding:0;
    max-width: none;
}

header{
    height:8vh;
    border-bottom: solid 1px #F0F0E8;
    top: 0;
    background-color: white;
    margin: 0;
}

/*検索バー*/

[type="search"] {
    background-color: #F0F0E8;
    height: 6vh;
    margin: 4px;
    margin-left: 10px;
}


.form-control:focus {
    background-color: #F0F0E8;
    box-shadow:none;
}

/*戻るボタン*/

.back_button{
    float:left;
    background-color: white;
    margin: 3px;
}

.back_button:hover{
    background-color: #F0F0E8;
}

/*main領域*/


/*サムネイル一覧*/

a img{
    max-width: 100%;
    padding: 5px;
    background-color: red;
}

main{
    margin-top: 1vh;
}

th{
    font-weight: normal;
}

.thumbnail{
    position: relative;
    padding: 1px;
}

/*評価*/
.fa-star{
    color:#ffc107;
}

/*出品ボタン*/
 #exhibit_button{
    position:fixed;
    right:2rem;
    bottom:4rem;
    width:3rem;
    height:3rem;
    background-color: rgb(85, 172, 238);
    bottom:5;
    font-size: 11px;
}
#exhibit_button:hover{
    opacity:1;
}

#exhibit_button i{
    color: white;
}

/*リクエスト、出品に関するフォーム*/
goods_form{
    
}

/**/

footer{
    height: 3.5rem;
    max-height: 16vh;
    background-color: white;
    border-top: solid 1px #F0F0E8;
}

footer a {
    color: black;
}


.footer-menu-bar
{
    position: fixed;       /* 要素の位置を固定する */
    bottom: 0px;           /* 絶対位置を指定する(下0px) */
    background-color: white;
}