header{
    height:40px;
    border-bottom: solid 1px #F0F0E8;
    top: 0;
    background-color: white;
}



h1{
    line-height: 40px;
    margin: 0;
}


img{
    max-width: 100%;
}

.tags{
    color: rgb(29, 155, 240);
}

th{
    font-weight: normal;
    background-color:  #F0F0E8;
    width: 38%;
}

footer{
    height: 40px;
    background-color: white;
    border-top: solid 1px #F0F0E8;
}
form{
    text-align: center;
}

.requ_button{
    height: 30px;
    margin: 5px;  
    width: 80%;
}

.back_button{
    color: red;
}